<div class="card ticket" (click)="selectTicket()">
  <!-- we use the {{ }} syntax to display the data, more info: https://angular.io/guide/displaying-data-->
  <h3>Titre: {{ticket.title}}</h3>
  <i class="fas fa-calendar-alt"></i> {{ticket.date | date: 'shortTime'}} &nbsp;&nbsp;
  <i class="far fa-user"></i> {{ticket.student}} &nbsp;&nbsp;
  <div class="div1" *ngIf="status == 1">
    <i class="far fa-bell"></i> {{ticket.major}}
  </div>
  <div class="div1" *ngIf="status == 2">
    <i class="far fa-image"></i> {{ticket.major}}
  </div>
  <div class="div1" *ngIf="status == 3">
    <i class="far fa-star"></i> {{ticket.major}}
  </div>
  <br>
  <div>archivedTicket:{{ticket.archived}}</div>
  <button type="submit" class="btn-custom" (click)="archivedTicket()">Archive</button>
</div>

