<div class="ticket-list">
  <div class="ticket" *ngFor="let ticket of ticketList">
      <!--Inputs & Output allow communication between parent & child components.-->
      <!--More information: https://angular.io/guide/component-interaction-->
      <app-ticket [ticket]="ticket" (ticketHasBeenSelected)="ticketHasBeenSelected($event)" 
      (ticketHasBeenArchived)="archiveTicket(ticket)" *ngIf="ticket.archived == displayTicketArchive"></app-ticket>
  </div>
  <button type="submit" class="btn-custom" (click)="changeDisplayTicketArchive()" *ngIf="displayTicketArchive">Hide archived ticket</button>
  <button type="submit" class="btn-custom" (click)="changeDisplayTicketArchive()" *ngIf="!displayTicketArchive">Show archived ticket</button>
</div>
